@import "_normalize.less";
@import "_preboot.less";
// @import "_material-wfont-ripple.less";
@import "_ng-animate.less";
@import "_variables.less";
@import "_base.less";
@import "_bootstrap-tooltips.less";
@import "_fonts.less";

@dark: #455a64;
@headings: @font-family-sans-serif;
@content: @font-family-serif;

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	background: @accent;
	color: white;
	-webkit-font-smoothing: antialiased;
}

body {
	font-weight: normal;
	font-family: @content;
	font-size: @font-size;
}

.content {
	background: @accent;
	z-index: 50;
	position: relative;
}

::selection {
	// background: #4285f4;
	background: @green;
	color: white;
	text-shadow: 0 1px rgba(0,0,0,.5);
}

/* #main {
	min-height: 150%;
	margin: 0 auto -250px;

	.push {
		display: block;
		height: 250px;
	}
}  */

h1, h2, h3, h4, h5 {
	color: inherit;
	font-weight: bold;
	font-family: @headings;
}

h1 {
	font-size: 48px;
}

h4 {
	font-weight: 300;
}

// Images
img {
	display: inline-block;
}

// Buttons
.button {
  display: inline-block;
  padding: 10px 12px;
  // border-radius: 4px;
  background-color: gray;
  border-radius: 6px;
  // box-shadow: rgba(255, 255, 255, 0.29) 0 1px 0 0 inset, rgba(0, 0, 0, 0.27) 0 2px 11px 0;
  transition: all 300ms ease;
  color: white;
  font-size: 1em;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;

  display: inline-block;
  margin-right: 5px;
  margin-bottom: 30px;
  margin-left: 5px;
  padding: 12px 18px 12px;
  border: 1px solid #494949;
  border-radius: 5px;
  background-color: #555;
  background-image: linear-gradient(0deg, #4C4C4C, lighten(#4C4C4C, 10%));
  box-shadow: inset 0 1px 0 0 rgba(255,255,255,0.4), inset 0 0 5px 0 rgba(255,255,255,0.2), inset 0 67px 67px -40px rgba(255,255,255,0), 0 2px 0 0 #2e2e2e, 0 3px 6px 0 rgba(0,0,0,0.4);
  transition: all 230ms ease-in-out;
  color: white;
  font-weight: 400;
  text-align: left;
  text-decoration: none;
  text-shadow: 0 1px 1px rgba(0,0,0,0.27);
  vertical-align: middle;
  cursor: pointer;
  &:hover {
    color: white;
    text-decoration: none;
    background-color: gray;
    transition-delay: initial;
    box-shadow: 
        inset 0 1px 0 0 rgba(255,255,255,0.6),
        inset 0 0 5px 0 rgba(255,255,255,0.2),
        inset 0 67px 67px -40px rgba(255,255,255,0.3),
        0 2px 0 0 #2e2e2e,
        0 3px 8px 0 rgba(0,0,0,0.4);
  }
  &:focus, &:active {
    // outline: 2px solid white;
    box-shadow: 
        inset 0 1px 0 0 rgba(255,255,255,0),
        inset 0 1px 7px -1px rgba(0,0,0,0.35),
        inset 0 67px 67px -40px rgba(255,255,255,0),
        0 2px 0 0 #2e2e2e,
        0 3px 8px 0 rgba(0,0,0,0);
        transform: translateY(1px);
  }
}

.button-normal(@accent) {
	background-image: linear-gradient(0deg, @accent, lighten(@accent, 10%));
}

.button-fill(@text, @background) {
  color: @text;
  background: @background;
  border: 2px solid @background;
  background-image: linear-gradient(0deg, @background, lighten(@background, 10%));
  // border: 1px solid @text;
  &:hover, &:focus, &.active {
    background: @text;
    border: 2px solid @text;
    color: @background;
    // outline: 2px solid @background;
  }
}

.button-outline(@text, @background) {
  background: @background;
  border: 3px solid @background;
  color: @text;
  &:hover, &:focus, &.active {
    background: @text;
    color: @background;
  }
}

.button-transparent(@text, @border) {
  background: transparent;
  border: 3px solid @border;
  color: inherit;
  &:hover, &:focus, &.active {
    background: @border;
    border-color: @border;
    color: @text;
  }
}

.button-large {
	padding: .75em 1.0em;
	font-size: 24px;
}

.btn {
	.button;
	.button-normal(@green);
}

// Transitions
.transition-faster {
  transition: all 90ms linear;
  translateZ: 0px;
}

.transition {
  transition: all 180ms linear;
  translateZ: 0px;
}

.transition-longer {
  transition: all 300ms linear;
  translateZ: 0px;
}

.transition-bounce {
  transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    translateZ: 0px;
}

.transition-bounce-longer {
  transition: all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
    translateZ: 0px;
}

.shadow {
	box-shadow: 0px 3px 6px 0px rgba(0, 0, 0, 0.4);;
}

a {
	color: inherit;
  .transition;
}

// Navigation
nav.menubar {
	// background: #252525;
	// background: rgba(0,0,0,.75);
	font-size: 18px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9000;
	background: rgba(0,0,0,.5);
	.shadow;
	a {
		display: inline-block;
		line-height: 60px;
		color: white;
		padding: 0 0.75em;
		text-decoration: none;
		&.logo {
		// margin-left: -0.75em;
		}
		i {
			margin-right: 0.25em;
			opacity: 0.8;
			font-size: 1.2em;
		}
		&:hover {
			text-decoration: none;
			background: rgba(255,255,255,.15);
		}
	}
	.logo {
		padding-bottom: 1px;
		img {
			vertical-align: middle;
		}
	}
	.has-dropdown {
		position: relative;
		.dropdown {
			opacity: 0;
			visibility: hidden;
			position: absolute;
			background: #252525;
			background: rgba(0,0,0,.75);
			right: 0;
			width: 150px;
			.transition-bounce;
			transform: scale(0.8) translateX(-20px);
			transform-origin: top right;
			a {
				display: block;
			}
		}
		&:hover {
			.dropdown {
				opacity: 1;
				visibility: visible;
				transform: scale(1) translateX(0px);
				transform-origin: top right;
			}
		}
	}
}

// Header
header {
	text-align: center;
	// background: @green;
	// margin-top: -90px;
	// padding-top: 190px;
	margin-top: -350px;
	padding-top: 450px;
	padding-bottom: 60px;
	color: white;
	background-size: cover;
	background-position: middle;
	background-repeat: no-repeat;
	position: relative;
	transform: rotateZ(0);
	p.lead {
		margin-top: 0.25em;
	}
}
header h1, .page-title {
	font-size: 64px;
}

.header-like {
	margin-top: -250px;
	padding-top: 350px;
	padding-bottom: 60px;
	text-align: center;
}

// Intro
.intro {
	background-color: @accent;
	color: white;
	.header-like;
	.button-more {
		.button;
		.button-large;
		.button-normal(@red);
		// color: black!important;
	}
	background-size: cover;
}

// Header Day Cycle
.header-sunset {
	animation: header-sunset-inverse 24s linear infinite;
	overflow: hidden;
	position: relative;
    text-shadow: 0px 1px rgba(0, 0, 0, 0.5);
    h1 {
    	line-height: 1em;
    }
	.metropolis {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-image: url(/img/header/metropolis.png);
		background-position: bottom;
		background-size: contain;
		background-repeat: no-repeat;
		z-index: 400;
	}
	.container {
		z-index: 500;
		position: relative;
	}
	.moon {
		animation: header-sunset-moon 24s linear infinite;
		z-index: 300;
		position: absolute;
		background: rgb(200, 200, 200);
		padding: 5px;
		height: 80px;
		width: 80px;
		border-radius: 200px;
		display: inline-block;
		transform: rotate(120deg);
		-webkit-transform: rotate(120deg);
		margin-top: 100px;
		margin-left: -60px;
		.half-circle {
			height: 30px;
			width: 70px;
			border-radius: 70px 70px 0 0;
			background: gray;
		}
	}
	.sun {
		animation: header-sunset-moon 24s linear infinite;
		z-index: 300;
		position: absolute;
		background: yellow;
		padding: 5px;
		height: 80px;
		width: 80px;
		border-radius: 200px;
		display: inline-block;
		transform: rotate(120deg);
		-webkit-transform: rotate(120deg);
		animation-delay: 12s;
		margin-top: 100px;
		margin-left: -60px;
	}
}

@-webkit-keyframes header-sunset {
	0%  {background-color: #28446E;}
	10%  {background-color: #69BAD9;}
	65%  {background-color: #69BAD9;}
	70% {background-color: #28446E;}
	100% {background-color: #28446E;}
} 
@keyframes header-sunset {
	0%  {background-color: #28446E;}
	10%  {background-color: #69BAD9;}
	65%  {background-color: #69BAD9;}
	70% {background-color: #28446E;}
	100% {background-color: #28446E;}
}
@-webkit-keyframes header-sunset-inverse {
	0%  {background-color: #69BAD9;}
	10%  {background-color: #28446E;}
	50%  {background-color: #28446E;}
	60% {background-color: #69BAD9;}
	100% {background-color: #69BAD9;}
} 
@keyframes header-sunset-inverse {
	0%  {background-color: #69BAD9;}
	10%  {background-color: #28446E;}
	50%  {background-color: #28446E;}
	60% {background-color: #69BAD9;}
	100% {background-color: #69BAD9;}
}
@-webkit-keyframes header-sunset-moon {
	from {
		-webkit-transform: rotate(0deg)
		translate(-500px)
		rotate(120deg);
	}
	to {
		-webkit-transform: rotate(360deg)
		translate(-500px) 
		rotate(-360deg);
	}
}
@keyframes header-sunset-moon {
	from {
		transform: rotate(0deg)
		translate(-500px)
		rotate(120deg);
	}
	to {
		transform: rotate(360deg)
		translate(-500px) 
		rotate(-360deg);
	}
}

// Section
section {
	padding: 60px 0;
}

// Dark Bg
.no-padding {
	padding: 0 0;
}
.section-gray {
	background: #eeeeee;
	color: black;
}
.section-dark, .section-black {
	background-color: #1f1d1f;
	background-color: darken(@accent-dark, 5%);
	color: white;
}
.content section:last-of-type {
	padding-bottom: 100px;
}

// Mapbox
.mapbox {
	#map {
		display: block;
		width: 100%;
		height: 400px;
	}
}

.button-events {
	.button-normal(@red);
}
.button-gplus {
	.button-normal(darken(#DD4B39,15%));
}
.button-facebook {
	.button-normal(darken(#3B5998,15%));
}
.button-flickr {
	.button-normal(darken(#FF0084,15%));
}
.button-hshackers {
	.button-normal(darken(#8F499C,15%));
}

// Homepage
#home-events {
	background: #1F1D1F;
	.button-album {
		margin-left: 0;
		margin-bottom: 0;
		margin-right: 1em;
	}
	.button, .btn {
		margin-left: 0;
		margin-right: 0.25em;
	}
}
.photos {
	.album {
		white-space: nowrap;
		// overflow: hidden;
		a {
			// max-height: 150px;
			width: auto;
			border: 5px solid white;
			background: white;
			display: inline-block;
			margin-right: -50px;
			.shadow;
			img {
				display: inline-block;
				max-height: 150px;
			}
			span {
				color: black;
				display: block;
				font-size: 12px;
				font-family: "Indie Flower", "Monaco", @font-family-sans-serif;
			}
		}
	}
	.photo-1, .photo-2, .photo-3, .photo-4 {
		position: relative;
		z-index: 350;
		.transition-bounce;
		&:hover {
			transform: scale(1.25) rotate(0deg);
			z-index: 400;
		}
	}
	.photo-1 {
		transform: scale(0.85) rotate(-10deg);
	}
	.photo-2 {
		transform: scale(0.85) rotate(15deg);
	}
	.photo-3 {
		transform: scale(0.85) rotate(-5deg);
	}
	.photo-4 {
		transform: scale(0.85) rotate(6deg);
	}
	p {
		vertical-align: middle;
	}
	.album-info {
		.button {
			margin-bottom: .75em;
		}
	}
}

#home-for {
	.button, .btn {
		margin-left: 0;
		margin-right: 1em;
	}
}

// Events Section
#events-header {
	background: @gray;
	padding-bottom: 0px;
}

#events {
	background: @gray;
}

#events-organize {
	background: darken(@gray, 10%);
	text-align: center;
}

// Event Cards
.cards {
	text-align: center;
	vertical-align: top;
	.card {
		vertical-align: top;
		margin: 0;
		// width: 100%;
		display: block;
		max-width: 800px;
		margin: auto;
		position: relative;
		height: 188px;
		overflow: hidden;
		color: white;
		border-radius: 8px;
		margin-bottom: 1em;
		.transition;
		outline: 5px solid transparent;
		&:hover {
			outline: 5px solid white;
			border-radius: 0;
		}
		.background {
			opacity: 0.25;
			width: 100%;
			height: auto;
			img {
				margin-top: -30%;
				width: 120%;
			}
		}
		a {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 2;
			padding-top: 20px;
			padding-bottom: 20px;
			opacity: 1;
			text-align: left;
			text-decoration: none;
			padding: 1em 1em;
			img {
				float: left;
				margin: -0.5em 2em 0em 0.5em;
				max-width: 175px;
			}
		}
	}
}

// New Events
.hexagons {
	text-align: center;
	vertical-align: top;
	.hexagon {
		vertical-align: top;
		width: 25%;
		display: inline-block;
		max-width: 300px;
		margin: auto;
		padding: .5em .5em;
		a {
			display: block;
			background: rgba(0,0,0,.5);
			text-decoration: none;
			border-radius: 4px;
			overflow: hidden;
			padding-bottom: 20px;
			outline: 5px solid transparent;
			box-shadow: 0px 2px 0px 0px #2E2E2E, 0px 3px 6px 0px rgba(0, 0, 0, 0.4);
			&:hover {
				outline: 5px solid white;
				border-radius: 0;
				.image {
					margin-top: -85px;
					margin-bottom: 10px;
				}
			}
		}
		.image {
			max-height: 150px;
			margin-top: -75px;
			position: relative;
			transform: translateY(0px);
			transition: margin 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
			animation: hexagon-image 1s ease;
		}
		h2 {
			font-size: 35px;
			vertical-align: middle;
			animation: hexagon-text 1s ease;
		}
		p {
			// text-align: left;
			// font-size: 0.9;
			// font-size: 0.8em;
			animation: hexagon-text 1s ease;
		}
		.cover {
			height: 180px; // 180px;
			display: block;
			background-size: cover;
			background-position: center;
			background-color: rgb(223, 223, 223);
			background-image: url(/img/hackathons/cover/placeholder.png);
			position: relative;
			user-select: none;
			.banner.national {
				background: #FFF480;
				transform: rotate(45deg);
				position: absolute;
				top: 20px;
				right: -32px;
				padding: 4px 40px;
				color: #3E4B07;
				font-weight: bold;
				// text-shadow: 0 1px 0 #FEFFDA;
				font-size: 10px;
				box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.25);
				animation: hexagon-banner 1s ease;
			}
			.banner.major {
				background: rgb(176, 255, 113);
				transform: rotate(45deg);
				position: absolute;
				top: 20px;
				right: -44px;
				padding: 4px 40px;
				color: rgb(35, 78, 0);
				font-weight: bold;
				// text-shadow: 0 1px 0 rgb(139, 190, 98);
				font-size: 10px;
				box-shadow: 0 4px 0 0 rgba(0,0,0,.25);
				animation: hexagon-banner 1s ease;
			}	
		}
	}
}

@keyframes hexagon-image {
	0%   { opacity: 0; transform: translateY(20px) scale(0.25); }
	65%  { opacity: 1; transform: translateY(0px)  scale(1.0); }
}

@keyframes hexagon-text {
	0%    { opacity: 0; transform: translateY(30px) scale(0.95); }
	35%   { opacity: 0; transform: translateY(30px) scale(0.95); }
	90%   { opacity: 1; transform: translateY(0px)  scale(1.0); }
}

@keyframes hexagon-banner {
	0%    { opacity: 0; transform: translateY(30px) scale(2.5) rotate(25deg); }
	75%   { opacity: 0; transform: translateY(30px) scale(2.5) rotate(25deg); }
	90%  { opacity: 1; transform: translateY(0px)  scale(1.0) rotate(45deg); }
}

.search-bar {
	background: rgba(0,0,0,.5);
	// text-align: left;
	padding: 20px;
	border-radius: 4px;
	.shadow;
	margin: 0 9px;
	.button, .button.filter {
		margin-bottom: 0;
	}
	input.text {
		width: 60%;
		margin-bottom: 0;
		opacity: 0.8;
	}
}
input.text {
	.button;
	.button-normal(white);
	color: black!important;
	cursor: text;
}

// Events
.events {
	background: @accent-dark;
	vertical-align: top;
	text-align: center;
	.event-wrapper {
		display: inline-block;
		width: 25%;
		padding: 10px;
		min-width: 285px;
		vertical-align: top;
	}
	.event {
		background: white;
		color: black;
		display: block;
		padding: 0px;
		transition: 300ms all linear;
		border-radius: 6px;
		overflow: hidden;	
		text-align: center;
		vertical-align: top;
		// cursor: crosshair;
		&:hover {
			box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15), 0 3px 6px rgba(0, 0, 0, 0.28);
			text-decoration: none;
		}
		&:focus, &:active {
			box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
			text-decoration: none;
		}
		.cover {
			height: 150px;
			display: block;
			background-size: cover;
			background-position: center;
			background-color: rgb(223, 223, 223);
			background-image: url(/img/hackathons/cover/placeholder.png);
			position: relative;
			user-select: none;
			.banner.national {
				background: #FFF480;
				transform: rotate(45deg);
				position: absolute;
				top: 20px;
				right: -32px;
				padding: 4px 40px;
				color: #3E4B07;
				font-weight: bold;
				text-shadow: 0 1px 0 #FEFFDA;
				font-size: 10px;
				box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.25);
			}
			.banner.major {
				background: rgb(176, 255, 113);
				transform: rotate(45deg);
				position: absolute;
				top: 20px;
				right: -44px;
				padding: 4px 40px;
				color: rgb(35, 78, 0);
				font-weight: bold;
				text-shadow: 0 1px 0 rgb(139, 190, 98);
				font-size: 10px;
				box-shadow: 0 4px 0 0 rgba(0,0,0,.25);
			}	
		}
		h3, p {
			padding: 5px 15px;
		}
		h3 {
			font-style: 38px;
			padding-top: 20px;
			padding-bottom: 0px;
			margin-bottom: 0px;
		}
		p {
			padding-bottom: 0px;
		}
		& > p:last-of-type {
			padding-bottom: 0.25em;
		}
		.event-details {
			background: rgb(229, 229, 229);
			text-align: left;
			padding: 1em 1em;
			.desc {
				display: block;
				min-height: 3em;
			}
		}
		.event-link {
			color: white;
			padding: 1em 1em;
			text-align: left;
			display: block;
			text-decoration: none;
			background: @green;
			i {
				color: white;
				padding-right: 0.5em;
			}
		}
	}
}

.loading-message {
	i {
		font-size: 80px;
		line-height: 1.5em;
	}
}

.dim {
	background-color: rgba(0,0,0,0.6);
	padding: 75px 0px 75px 0px;
}

.about {
	margin-bottom: 25px;
	padding: 30px 0px 30px 0px;
	background-color:rgb(248, 244, 240);
	color:rgb(198, 194, 190);
	h1 {
		font-weight:700;
		font-size:20px;
		margin-bottom:10px;
	}
	p {
		line-height:25px;
	}
	a {
		color:rgb(198, 194, 190);
		font-weight:700;
		text-decoration:none;
		&:hover {
			opacity:0.8;
		}
	}
}

.aboutus {
	margin: 30px 0px 80px 0px;
	h1 {
		font-size:23px;
		font-weight:700;
		margin-bottom:20px;
	}
	p {
		line-height:23px;
		margin-bottom:15px;
	}
	h3 {
		font-size:20px;
	}
	h4 {
		font-size:24px;
	}
	img {
		border-radius:180px;
	}
	a {
		font-size:14px;
		color:#95a5a6;
		text-decoration:none;
		&:hover {
			opacity:0.8;
		}
	}
}

.organize {
	margin: 30px 0px 100px 0px;
	h1 {
		text-align: center;
	}
	h5 {
		background-color: black;
		color: white;
		font-weight: 300;
		text-align: center;
		border-radius: 180px;
		padding: 12px 10px 10px 10px;
		height:52px;
		line-height: 52px;
		display: block;
		font-size: 30px;
	}
	.col-3 {
		font-size: 54px;
		margin-top: 0px;
		text-align: right;
	}
}

.faq {
	margin: 30px 0px 80px 0px;
	h1 {
		font-size:23px;
		font-weight:700;
		margin-bottom:20px;
	}
	p {
		line-height:23px;
		margin-bottom:15px;
	}
	h3 {
		font-size:20px;
	}
	h4 {
		font-size:24px;
	}
	img {
		border-radius:180px;
	}
	a {
		font-size:14px;
		color:#95a5a6;
		text-decoration:none;
		&:hover {
			opacity:0.8;
		}
	}
	.question {
		margin-bottom:30px;
	}
}

.news {
	// background: gray;
	// color: white;
	padding: 60px 0;
	background: none;
	.container {
		background: white;
		color: black;
		max-width: 90%;
		padding: 1em 2em;
	}
	a {
		color: @accent;
	}
	h1 {
		font-size:30px;
	}
	img {
		width:50%;
		height:50%;
		display: block;
    	margin-left: auto;
    	margin-right: auto;
	}
}

.news-old {
	margin: 30px 0px 80px 0px;
	.article {
		a {
			color:black;
			text-decoration:none;
			cursor:pointer;
			&:hover {
				color:gray;
			}
		}
	}
}

.footer {
	background-color: @accent-dark;
	padding: 30px 0 20px 0;
	color: lighten(@accent, 40%);
	text-align: center;
	z-index: 60;
	&:after, &:before {
		bottom: 100%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	&:after {
		border-color: @accent-dark;
		border-bottom-color: @accent-dark;
		border-left: 50vw solid @accent-dark;
		border-top: 50px solid transparent;
		border-right: 0;
		border-bottom: 0;
		right: 0;
	}
	&:before {
		border-color: @accent-dark;
		border-bottom-color: @accent-dark;
		border-right: 50vw solid @accent-dark;
		border-top: 50px solid transparent;
		border-left: 0;
		border-bottom: 0;
		left: 0;
	}
	.container {
		position: relative;
	}
	/* .logo {
		float: left;
		padding-right: 30px;
		border-right: 1px solid gray;
		margin-right: 30px;
		img {
			max-height: 5em;
			width: auto;
		}
	} */
	.to-the-moon {
		position: absolute;
		z-index: 9000;
		top: -60px;
		left: 50%;
		margin-top: 0;
		margin-left: -25px;
		width: 50px;
		height: 50px;
		line-height: 50px;
		border-radius: 50%;
		text-align: center;
		font-size: 35px;
		// right: 24px;
		// top: -80px;
		.transition-bounce;
		transform: scale(1.0);
		&:hover {
			transform: scale(1.2);
			background: rgba(255,255,255,.25);
		}
	}
	.social {
		vertical-align: middle;
		a {
			.button;
			.button-fill(@accent, white);
			padding: 10px;
			margin: 0 10px;
		}
	}
}

// Ripples
.altripple {
  overflow:hidden;
}

.ripple-effect{
  position: absolute;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: white;

    
  animation: ripple-animation 2s;
}


@keyframes ripple-animation {
    from {
      transform: scale(1);
      opacity: 0.4;
    }
    to {
      transform: scale(100);
      opacity: 0;
    }
}

i {
	color: inherit!important;
}