@import "material-wfont";
@import "material";
@import "ripples";
@import "ng-animate";

$dark: #455a64;

html, body {
	height: 100%;
}

body {
	font-weight: 300;
	background: white;
}

#main {
	min-height: 150%;
	margin: 0 auto -250px;

	.push {
		display: block;
		height: 250px;
	}
}

p, h1, h2, h3, h4, h5 {
	font-family: 'Roboto', sans-serif;
}

h4 {
	font-weight: 300;
}

// Navigation
nav {
	padding: 10px 0;
	a {
		display: inline-block;
		padding: 14px;
		font-size: 24px;
		color: white;
		border-radius: 100px;
		margin-right: 10px!important;
		vertical-align: middle;
		&:hover {
			color: white;
			text-decoration: none;
		}
		&.btn-brand {
			color: white!important;
			text-decoration: none;
			text-transform: none;
			font-size: 18px;
			padding: 12px 20px;
			background: rgba(0, 0, 0, 0.15);
		}
	}
	.pull-right {
		padding-top: 3px;
	}
	// Bleed for header background
	.container {
		position: relative;
		z-index: 9001;
	}
}

// Header
header {
	text-align: center;
	padding-top: 190px;
	background: #009688;
	margin-top: -90px;
	padding-bottom: 100px;
	color: white;
	background-size: cover;
	background-position: middle;
	background-repeat: no-repeat;
	position: relative;
	transform: rotateZ(0);
}

// Header Day Cycle
.header-sunset {
	background-image: url(/img/header/metropolis.png);
	background-position: bottom;
	background-size: contain;
	animation: header-sunset-inverse 25s linear infinite;
	overflow: hidden;
	.container {
		z-index: 500;
		position: relative;
	}
	.moon {
		animation: header-sunset-moon 25s linear infinite;
		z-index: 400;
		position: absolute;
		background: rgb(228, 243, 255);
		padding: 5px;
		height: 80px;
		width: 80px;
		border-radius: 200px;
		display: inline-block;
		transform: rotate(120deg);
		-webkit-transform: rotate(120deg);
		margin-top: 100px;
		margin-left: -60px;
		.half-circle {
			height: 30px;
			width: 70px;
			border-radius: 70px 70px 0 0;
			background: gray;
		}
	}
	.sun {
		animation: header-sunset-sun 25s linear infinite;
		z-index: 400;
		position: absolute;
		background: yellow;
		padding: 5px;
		height: 80px;
		width: 80px;
		border-radius: 200px;
		display: inline-block;
		transform: rotate(120deg);
		-webkit-transform: rotate(120deg);
		margin-top: 100px;
		margin-left: -60px;
	}
}

@-webkit-keyframes header-sunset {
	0%  {background-color: #28446E;}
	10%  {background-color: #69BAD9;}
	65%  {background-color: #69BAD9;}
	70% {background-color: #28446E;}
	100% {background-color: #28446E;}
} 
@keyframes header-sunset {
	0%  {background-color: #28446E;}
	10%  {background-color: #69BAD9;}
	65%  {background-color: #69BAD9;}
	70% {background-color: #28446E;}
	100% {background-color: #28446E;}
}
@-webkit-keyframes header-sunset-inverse {
	0%  {background-color: #69BAD9;}
	10%  {background-color: #28446E;}
	50%  {background-color: #28446E;}
	60% {background-color: #69BAD9;}
	100% {background-color: #69BAD9;}
} 
@keyframes header-sunset-inverse {
	0%  {background-color: #69BAD9;}
	10%  {background-color: #28446E;}
	50%  {background-color: #28446E;}
	60% {background-color: #69BAD9;}
	100% {background-color: #69BAD9;}
}
@-webkit-keyframes header-sunset-moon {
	from {
		-webkit-transform: rotate(0deg)
		translate(-500px)
		rotate(120deg);
	}
	to {
		-webkit-transform: rotate(360deg)
		translate(-500px) 
		rotate(-360deg);
	}
}
@keyframes header-sunset-moon {
	from {
		transform: rotate(0deg)
		translate(-500px)
		rotate(120deg);
	}
	to {
		transform: rotate(360deg)
		translate(-500px) 
		rotate(-360deg);
	}
}
@-webkit-keyframes header-sunset-sun {
	from {
		-webkit-transform: rotate(360deg)
		translate(-500px) 
		rotate(360deg);
	}
	to {
		-webkit-transform: rotate(0deg)
		translate(-500px)
		rotate(120deg);
	}
}
@keyframes header-sunset-sun {
	from {
		transform: rotate(360deg)
		translate(-500px) 
		rotate(360deg);
	}
	to {
		transform: rotate(0deg)
		translate(-500px)
		rotate(120deg);
	}
}

// Section
section {
	padding: 60px 0;
}

// Dark Bg
.no-padding {
	padding: 0 0;
}
.section-gray {
	background: #eeeeee;
}
.section-dark, .section-black {
	background: #1f1d1f;
	color: white;
}

// Events
.events {
	a.well {
		display: block;
		padding: 0px;
		h4, p {
			padding: 15px 0;
		}
	}
}

.dim {
	background-color: rgba(0,0,0,0.6);
	padding: 75px 0px 75px 0px;
}

.about {
	margin-bottom: 25px;
	padding: 30px 0px 30px 0px;
	background-color:rgb(248, 244, 240);
	color:rgb(198, 194, 190);
	h1 {
		font-weight:700;
		font-size:20px;
		margin-bottom:10px;
	}
	p {
		line-height:25px;
	}
	a {
		color:rgb(198, 194, 190);
		font-weight:700;
		text-decoration:none;
		&:hover {
			opacity:0.8;
		}
	}
}

.aboutus {
	margin: 30px 0px 80px 0px;
	h1 {
		font-size:23px;
		font-weight:700;
		margin-bottom:20px;
	}
	p {
		line-height:23px;
		margin-bottom:15px;
	}
	h3 {
		font-size:20px;
	}
	h4 {
		font-size:24px;
	}
	img {
		border-radius:180px;
	}
	a {
		font-size:14px;
		color:#95a5a6;
		text-decoration:none;
		&:hover {
			opacity:0.8;
		}
	}
}

.organize {
	margin: 30px 0px 100px 0px;
	h1 {
		font-size:20px;
		font-weight:900;
	}
	h2 {
		font-weight:600;
		font-size:20px;
	}
	h3 {
		background-color:black;
		color:white;
		font-weight:300;
		text-align:center;
		border-radius:180px;
		padding: 23px 10px 10px 10px;
		height:52px;
		font-size:30px;
		width:80%;
		line-height:0px;
	}
}

.footer {
	background-color: #EEEEEE;
	padding: 50px 0;
	.container {
		position: relative;
	}
	.logo {
		float: left;
		padding-right: 30px;
		border-right: 1px solid gray;
		margin-right: 30px;
		img {
			max-height: 5em;
			width: auto;
		}
	}
	.to-the-moon {
		position: absolute;
		right: 24px;
		top: -80px;
	}
	.social {
		vertical-align: middle;
		.btn-fab {
			color: inherit;
		}
	}
}