
      <div class="cat">
        <div class="dim">
          <div class="container">
            <div class="row">
              <div class="col-lg-12">
                <h1 class="text-center">{{ message }}</h1>
              </div>
            </div>
          </div>
        </div>
      </div>

<div class="aboutus">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>ABOUT</h1>
        <p>Minor League Hacking (MiLH) is the definitive hackathon league for high school students. We help support and organize weekend long programming competitions where students get together to show off their technical skills. Each season, we bring together thousands of teenage hackers around the nation at various events ranging from 30 to 1,000 hackers.</p>
        <p>At our hackathons, students are free to build what they dream of, including but not limited to web applications, hardware hacks, and iPhone apps. At the end of the weekend, students present their hacks to judges and peers, and winners are awarded prizes.</p>
        <p>We work together with Major League Hacking (MLH), the official college hackathon league. Through MLH, we are able to admit high school students to college level hackathon events and offer support, discounts, and sponsorships to high school hackathon events.</p>
        <p>MiLH works with local hackathon organizers to help ensure that they throw the perfect high school hackathon event. We also host meetups and offer prizes at college level hackathons that admit high schoolers.</p>
        <br><h1>MISSION</h1>
        <p>Minor League Hacking's mission is to encourage high school students to pursue computer science and support existing high school hackers. Our various events are friendly to both first time and novice hackers. We aim to inspire student hackers to follow their dreams and build cool things that change the world.</p>
        <p>We believe in the motto of “doing is better than thinking”. Our events allow students to spend 48 hours building something amazing without distractions such as strict rules. Workshops and mentors are available for beginning hackers to give them the jumpstart they need to start building immediately.</p>
        <br><h1>TEAM</h1><br>
        <div class="row">
          <div class="col-lg-2">
            <img src="img/jimmy.png" width="100%">
          </div>
          <div class="col-lg-3">
            <h3>Jimmy Liu <a href="http://twitter.com/jimmyliu">@jimmyliu</a></h3>
            <p>High school student during the day, hacker at large by night, Jimmy runs the day to day operations of Minor League Hacking. He also builds apps at <a href="http://svmmit.co">Svmmit</a>.</p>
          </div>
          <div class="col-lg-2 col-lg-offset-2">
            <img src="img/victor.jpeg" width="100%">
          </div>
          <div class="col-lg-3">
            <h3>Victor Lourng <a href="http://twitter.com/lablayers">@lablayers</a></h3>
            <p>High school student during the day, hacker at large by night, Jimmy runs the day to day operations of Minor League Hacking. He also builds apps at <a href="http://svmmit.co">Svmmit</a>.</p>
          </div>
        </div><br><br><br>
        <h4 class="text-center">PROUDLY PART OF &nbsp;&nbsp;<a href="http://mlh.io"><img style="border-radius:0px; margin-top:-8px;" width="125px" src="img/mlh.png"></a></h4>

      </div>
    </div>
  </div>
</div>