<header class="altripple navbar-material-cyan" id="about-header">
  <div class="container">
    <!-- <h1>{{ message }}</h1> -->
    <h1>About Ignition</h1>
    <p class="lead">Learn more about us:</p>
  </div>
</header>
<section id="about-subheader">
  <div class="container">
    <p>Ignition (Ignition) is the definitive hackathon league for high school students. We help support and organize weekend long programming competitions where students get together to show off their technical skills. Each season, we bring together thousands of teenage hackers around the nation at various events ranging from 30 to 1,000 hackers.</p>
    <p>At our hackathons, students are free to build what they dream of, including but not limited to web applications, hardware hacks, and iPhone apps. At the end of the weekend, students present their hacks to judges and peers, and winners are awarded prizes.</p>
    <p>We work together with Major League Hacking (MLH), the official college hackathon league. Through MLH, we are able to admit high school students to college level hackathon events and offer support, discounts, and sponsorships to high school hackathon events.</p>
    <p>Ignition works with local hackathon organizers to help ensure that they throw the perfect high school hackathon event. We also host meetups and offer prizes at college level hackathons that admit high schoolers.</p>
  </div>
</section>
<section class="aboutus" id="about-content">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>Mission</h1>
        <p>Ignition's mission is to encourage high school students to pursue computer science and support existing high school hackers. Our various events are friendly to both first time and novice hackers. We aim to inspire student hackers to follow their dreams and build cool things that change the world.</p>
        <p>We believe in the motto of “doing is better than thinking”. Our events allow students to spend 48 hours building something amazing without distractions such as strict rules. Workshops and mentors are available for beginning hackers to give them the jumpstart they need to start building immediately.</p>
        <br>
        <br>
        <h1>Directors</h1>
        <br>
        <div class="row">
          <div class="col-2">
            <img src="img/jimmy.png" width="100%">
          </div>
          <div class="col-4">
            <h3>Jimmy Liu
            <br>
            <span class="label label-info">#WestCoastBestCoast</span></h3>
            <p>High school student during the day, hacker at large by night, Jimmy runs the day to day operations of Ignition. He also builds apps at <a href="http://svmmit.co" target="_blank">Svmmit</a>.</p>
            <a href="http://twitter.com/jimmyliu" class="button button-twitter" target="_blank"><i class="icon-twitter"></i> @jimmyliu</a> 
          </div>
          <div class="col-2">
            <img src="img/victor.jpeg" width="100%">
          </div>
          <div class="col-4">
            <h3>Victor Lourng
            <br>
            <span class="label label-info">#EastCoastBeastCoast</span></h3>
            <p>Victor is an enthusiast passionate about making things awesome. He has built and managed startups from ideas, websites from scratch, and art from pure nothingness. Victor currently builds awesome things for <a href="http://zivtech.com" target="_blank">Zivtech</a>.</p>
            <a href="http://twitter.com/lablayers" class="button button-twitter" target="_blank"><i class="icon-twitter"></i> @lablayers</a> 
          </div>
        </div><br><br><br>
        <h1>Team</h1>
        <p>We are currently looking for self driven students interested in working with Ignition. For more information, contact us at <a href="mailto:hello@hsignition.com">hello@hsignition.com</a></p><br><br><br>
      </div>
    </div>
  </div>
</section>

<section id="about-conduct">
  <div class="container">
    <h1>Code of Conduct</h1>
    <a href="https://github.com/hsignition/docs/blob/master/Conduct.md" target="_blank"><img src="/img/conduct.png" alt=""></a>
    <br>
    <a href="https://github.com/hsignition/docs/blob/master/Conduct.md" class="button" target="_blank"><i class="octicon octicon-book"></i> Read Here</a>
  </div>
</section>