<header class="altripple navbar-material-deeppurple">
  <div class="container">
    <h1>Changelog</h1>
  </div>
</header>
<section>
	<div class="container">
		<h1>v2 Release</h1>
		<br>
		<br>
		<br>
		<h3>v2.0.0: Wavelength</h3>
		<p class="lead">Redesign all the things!</p>
		<img src="http://i.imgur.com/U2oVtGj.png" alt="">
		<ul>
			<li>TL;DR Everything is prettier!</li>
		</ul>
	</div>
</section>
<section class="section-dark">
	<div class="container">
		<h1>v1 Release</h1>
		<br>
		<br>
		<br>
		<h3>v1.0.1: Groot Shell</h3>
		<p class="lead">Mini-revamp</p>
		<img src="http://i.imgur.com/nanTCY9.png" alt="">
		<ul>
			<li>Use Octicons instad of Material Design icons</li>
			<li>New navbar</li>
			<li>Better event page listings</li>
			<li>Narrower fonts</li>
		</ul>
		<hr>
		<h3>v1.0.1b: Ooga Chaka</h3>
		<p class="lead">Upgrade Boostrap Material Design</p>
		<hr>
		<h3>v1.0.0: Stargazing Starlord</h3>
		<p class="lead">Product launch</p>
		<hr>
		<h3>v1.0.0: Stargazing Starlord</h3>
		<p class="lead">Redesigned using Bootstrap Material Design</p>
		<img src="http://i.imgur.com/QDg4dQO.jpg" alt="">
	</div>
</section>
<section>
	<div class="container">
		<h1>v0 Release</h1>
		<br>
		<br>
		<br>
		<h3>v0.0.1: Dark Ages</h3>
		<p class="lead">Pull data from events page</p>
		<hr>
		<h3>v0.0.0: Dark Ages</h3>
		<p class="lead">Initial Release</p>
	</div>
</section>
