<header class="navbar-material-orange">
  <div class="container">
    <h1>{{ message }}</h1>
    <div class="btn-group">
      <a href="#events" class="btn btn-material-orange btn-disabled" disabled>Fall 2014</a>
      <a href="#events" class="btn btn-material-lightgreen">Spring 2015</a>
      <a href="#events" class="btn btn-primary">More Events</a>
    </div>
  </div>
</header>
<section class="toolbar">
  <div class="container">
    <input class="form-control floating-label input-lg" id="focusedInput" type="text" placeholder="Search Events">
  </div>
</section>
<section class="events section-events section-gray" id="events">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <a class="well event withripple" href="">
          <div class="cover">
            <div class="details">
              <div class="banner major">MAJOR LEAGUE</div>
            </div>
          </div>
          <h3>VoodooHacks</h3>
          <p>September 10-14 @ Philadelphia, PA</p>
          <p>The most spookiest hackathon ever.</p>
        </a>
      </div>
      <div class="col-md-4">
        <div class="well">
          <p><a href="http://voodoohacks.com/">voodoohacks.com</a></p>
          <p>High School &amp; College Admitted</p>
          <p>$50 Travel Reimbursement</p>
          <p>Tracks: Software, Hardware</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="well"></div>
      </div>
    </div>
  </div>
</section>
<div class="events">
      <div class="container">

        <div class="event" ng-repeat="event in events">
          <div class="click" style="cursor: pointer;" ng-click="addClient = !addClient">
            <div class="row">
              <div class="col-lg-2">
                <img ng-src="{{event.Image}}" width="165px" height="99px">
              </div>
              <div class="col-lg-5 col-lg-offset-1">
                <a><h1>{{event.Name}}</h1></a>
                <p><i>{{event.Desc}}</i></p>
              </div>
              <div class="col-lg-3 col-lg-offset-1">
                <h3><i class="fa fa-calendar-o"></i>&nbsp;<b>{{event.Date}}</b></h3>
                <h3><i class="fa fa-university"></i>{{event.Location}}</h3>
              </div>
            </div>
          </div>
          <div class="expand" ng-show="addClient">
            <div class="row">
              <div class="col-lg-offset-3 col-lg-4">
                <div class="row">
                  <div class="col-lg-6">
                    <h3>Website</h3>
                    <h3>High School Admitted</h3>
                    <h3>College Admitted</h3>
                  </div>
                  <div class="col-lg-6">
                    <h2><a href="{{event.URL}}">{{event.URL}}</a></h2>
                    <h2>{{event.hs}}</h2>
                    <h2>{{event.college}}</h2>
                  </div>
                </div>
              </div>

              <div class="col-lg-offset-1 col-lg-4">
                <div class="row">
                  <div class="col-lg-5">
                    <h3>Travel $</h3>
                    <h3>Application Admit</h3>
                    <h3>Hardware</h3>
                  </div>
                  <div class="col-lg-7">
                    <h2>{{event.travel}}</h2>
                    <h2>{{event.application}}</h2>
                    <h2>{{event.hardware}}</h2>
                  </div>
                </div>
              </div>
            </div>
            <br>
            <div class="row">
              <div class="col-lg-offset-3 col-lg-9">
                <h3>Review from past attendee</h3>
                <h4>{{event.review}}</h4>
                <h4 class="text-right">- {{event.reviewname}}</h4>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
<section class="text-center">
  <div class="container">
    <a class="btn btn-primary btn-lg hasripple" href="https://docs.google.com/spreadsheets/d/1y5iBt2jEQU3g8b9rxVtLyvfafkpxQ1oNZqKoAaqckAI/edit?usp=sharing" target="_blank">+ Add Hackathon</a>
    <a class="btn btn-primary btn-lg hasripple" href="#organize" target="_blank">Thinking about organizing?</a>
  </div>
</section>
