<header class="altripple navbar-material-brown" id="faq-header">
  <div class="container">
    <h1>{{ message }}</h1>
    <p class="lead">Your questions, answered.</p>
    <div class="btn-group">
      <a ng-click="student();" class="btn btn-material-orange">Students</a>
      <a ng-click="parent();" class="btn btn-material-lightgreen">Parents</a>
      <a ng-click="teacher();" class="btn btn-primary">Teachers</a>
    </div>
  </div>
</header>

<div class="student faq" ng-hide="s == false">
  <div class="container">
    <div class="row">
      <div class="col-12">
      	<h1>STUDENT FAQ</h1><br>
      	<div class="question">
      		<h2>What is a hackathon?</h2>
      		<p>As defined by Wikipedia, a hackathon is an event, typically lasting several days, in which a large number of people meet to engage in collaborative computer programming. Hackathons are a lot like science fairs and debate competitions for students interested in computer science and programming. Students spend the weekend working in small groups to create application ideas they dream of and present their finished product at the end to a panel of judges and peers. The best “hacks” are often awarded prizes, and all students leave the hackathon with newfound knowledge and friends.</p>
      	</div>
      </div>
  	</div>
  </div>
</div>

<div class="parent faq" ng-hide="p == false">
  <div class="container">
    <div class="row">
      <div class="col-12">
      	<h1>PARENT FAQ</h1><br>
      	<div class="question">
      		<h2>What is a hackathon?</h2>
      		<p>As defined by Wikipedia, a hackathon is an event, typically lasting several days, in which a large number of people meet to engage in collaborative computer programming. Hackathons are a lot like science fairs and debate competitions for students interested in computer science and programming. Students spend the weekend working in small groups to create application ideas they dream of and present their finished product at the end to a panel of judges and peers. The best “hacks” are often awarded prizes, and all students leave the hackathon with newfound knowledge and friends.</p>
      	</div>
      	<div class="question">
      		<h2>What’s the deal with the work “hack” in hackathon?</h2>
      		<p>The word “hack” in the programming world is an informal phrase used to describe a genius/shortcut method of doing something, such as a eloquent algorithm for sorting objects. Likewise, “hackers” at Hackathons are students who participate in these events or partially skilled programmers. We absolutely do NOT break into networks and cause mayhem during these events.</p>
      	</div>
      	<div class="question">
      		<h2>Are hackathons safe?</h2>
      		<p>Yes, absolutely. Schools and venues maintain high level security throughout the event. ID checks are performed to gain admission to the venue and security is on premise 24/7 to keep the venue safe. In addition, all Ignition events follow MLH’s Code of Conduct, ensuring a non discriminating environment for students of any background. Hackathons are run with a zero tolerance policy for inappropriate actions.</p>
      	</div>
      	<div class="question">
      		<h2>What will my child get out of a hackathon?</h2>
      		<p>Students who attend hackathons will learn different things depending on their programing skill levels. Universal things learned at hackathons include learning how to network with other students and recruiters and giving speeches in front of judges and peers. Students will also be given opportunities to learn/improve their programming through workshops held at hackathons. Most importantly, hackathons will show your child the fun and spirit of computer science and encourage him/her to pursue a future in engineering.</p>
      	</div>
      	<div class="question">
      		<h2>What is the typical hackathon schedule?</h2>
      		<p>Hackathons are usually held on the weekend and last for the 24-48 hours. Hackathons begin with an opening ceremony where inspirational talks are held. Afterwards, students are given the a large chunk of time to build applications. Food is served and free of charge, in addition to having snacks present constantly. At the end of a hackathon, students present their applications to judges and peers, and winners are awarded. Students go home at the end of the weekend with lasting memories and experiences.</p>
      	</div>
      	<div class="question">
      		<h2>Will hackathons help my son/daughter get into college?</h2>
      		<p>It’s hard to give a definitive yes/no answer for this question because all colleges admit students differently, but we can say with a certain degree of certainty that hackathons will help your child’s college portfolio. Many hackathons are held at top-tier college around the world like The University of Pennsylvania and admission departments at colleges are well aware of these events. In addition, hackathons will allow your child to build technical skills and networks to give them a headstart in other opportunities such as internships at tech companies.</p>
      	</div>
      </div>
  	</div>
  </div>
</div>

<div class="teacher faq" ng-hide="t == false">
  <div class="container">
    <div class="row">
      <div class="col-12">
      	<h1>TEACHER FAQ</h1><br>
      	<div class="question">
      		<h2>What is a hackathon?</h2>
      		<p>As defined by Wikipedia, a hackathon is an event, typically lasting several days, in which a large number of people meet to engage in collaborative computer programming. Hackathons are a lot like science fairs and debate competitions for students interested in computer science and programming. Students spend the weekend working in small groups to create application ideas they dream of and present their finished product at the end to a panel of judges and peers. The best “hacks” are often awarded prizes, and all students leave the hackathon with newfound knowledge and friends.</p>
      	</div>
      	<div class="question">
      		<h2>How will Hackathons extend my curriculum?</h2>
      		<p>Hackathons are a great way to extend your high school Intro to Computer Science or AP Computer Science classes. These events will give your students more hands on time with the materials taught in class, in addition to providing real life application for programming. Most importantly, Hackathons will get students excited for computer science and allow them to understand the limitless potential of being a programmer.</p>
      	</div>
      	<div class="question">
      		<h2>How can I get my students involved?</h2>
      		<p>You can encourage your students to attend hackathons and organize groups of students to come as a team to our events. Offering extra credit to come to Hackathons may be a good initial catalyst to start a Hackathon group in your school. Feel free to drop Ignition a line for additional help and resources, we love to see hackathon participation at new schools!</p>
      	</div>
      	<div class="question">
      		<h2>What is a good time to introduce Hackathons to my students?</h2>
      		<p>Anytime is a good time, hackathons are for programmers of any level. Students with initial knowledge of computer science basics and data structures will be able to build more complex applications while students with no/little initial knowledge will be able to attend workshops at most hackathons to learn more about these concepts. Hackathons are for personal growth and anyone can get started.</p>
      	</div>
      	<div class="question">
      		<h2>How do I support my students at Hackathons?</h2>
      		<p>The best way to support your student at hackathons is giving them deadline extensions on assignments since hackathons usually take the entire weekend and students do not have a lot of time to do homework.</p>
      	</div>
      </div>
  	</div>
  </div>
</div>