<header class="altripple header-sunset intro">
  <div class="metropolis"></div>
  <div class="container">
    <!-- <h1><small>Bringing programming competitions
    <br>to high schoolers across the country</small></h1> -->
    <h1><span>Let's <span class="typer" data-typer-targets="build,create,eat,make,code,write,design,hack,learn,share,scale,balance,git commit,bash,publish,share,node.js">build</span> cool things together</span></h1>
    <p class="lead">Learn, build, and share with the official high school hackathon league.</p>
    <a href="#events" class="button-more"><strong><i class="octicon octicon-rocket"></i> Join the spring season!</strong></a>
  </div>
  <div class="moon hidden-sm hidden-xs">
  <div class="half-circle"></div>
  </div>
  <div class="sun"></div>
</header>
<!-- <header class="altripple header-sunset">
  <div class="metropolis"></div>
  <div class="container">
    <h1>{{ message }}</h1>
    <p class="lead">For high school students, by high school students.</p>
    <a href="#news/introducing-minor-league-hacking-official-high-school-hackathon-league-09-23-2014" class="btn btn-danger btn-lg">Read the Announcement</a>
  </div>
  <div class="moon hidden-sm hidden-xs">
    <div class="half-circle"></div>
  </div>
  <div class="sun"></div>
</header> -->
<section class="section-dark section-for" id="home-for">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <h2>High School Students</h2>
        <p>Get involved in the spring 2015 season!</p>
        <a href="/events" class="button button-events"><i class="octicon octicon-rocket"></i> Spring 2015 Events</a>
        <a href="/faq" class="btn btn-danger btn-md"><i class="octicon octicon-question"></i> FAQ</a>
      </div>
      <div class="col-4">
        <h2>Parents &amp; Teachers</h2>
        <p>Learn more about hackathons.</p>
        <!-- <a href="/faq" class="btn btn-danger btn-md"><i class="octicon octicon-list-ordered"></i> Frequently Asked Questions</a> -->
        <a href="/faq" class="btn btn-danger btn-md"><i class="octicon octicon-list-ordered"></i> For Parents</a>
        <a href="/faq" class="btn btn-danger btn-md"><i class="octicon octicon-list-ordered"></i> For Teachers</a>
      </div>
      <div class="col-4">
        <h2>Event Organizers</h2>
        <p>Have what it takes to run a hackathon?</p>
        <a href="/organize" class="btn btn-danger btn-md"><i class="octicon octicon-package"></i> Become an Organizer</a>
      </div>
    </div>
  </div>
</section>
