<header class="altripple header-sunset intro">
  <div class="metropolis"></div>
  <div class="container">
    <!-- <h1><small>Bringing programming competitions
    <br>to high schoolers across the country</small></h1> -->
    <h1><span>Let's <span class="typer" data-typer-targets="build,create,eat,make,code,write,design,hack,learn,share,scale,balance,git commit,bash,publish,share,node.js">build</span> cool things together</span></h1>
    <p class="lead">Learn, build, and share with the official high school hackathon league.</p>
    <a href="#events" class="button-more"><strong><i class="octicon octicon-rocket"></i> Join the spring season!</strong></a>
  </div>
  <div class="moon hidden-sm hidden-xs">
  <div class="half-circle"></div>
  </div>
  <div class="sun"></div>
</header>
<!-- <header class="altripple header-sunset">
  <div class="metropolis"></div>
  <div class="container">
    <h1>{{ message }}</h1>
    <p class="lead">For high school students, by high school students.</p>
    <a href="#news/introducing-minor-league-hacking-official-high-school-hackathon-league-09-23-2014" class="btn btn-danger btn-lg">Read the Announcement</a>
  </div>
  <div class="moon hidden-sm hidden-xs">
    <div class="half-circle"></div>
  </div>
  <div class="sun"></div>
</header> -->
<section class="section-events" id="home-events">
  <div class="container">
    <div class="row">
      <div class="col-6">
        <a href="#events" class="secret-link"><h2><i class="octicon octicon-calendar"></i> Upcoming Events</h2></a>
          <br>
          <h2 ng-hide="events.length" class="text-center loading-message">
            <i class="octicon octicon-squirrel"></i>
            <br>
            Fetching Events!
            <br>
            <br>
          </h2>

          <h2 ng-show="(events | filter:search).length == 0" class="text-center loading-message">
            <i class="octicon octicon-gist-secret"></i>
            <br>
            Nothing here!
            <br>
            <br>
          </h2>
          <div class="cards">
                <div class="card" ng-repeat="event in events | limitTo: 2">
                  <div class="background">
                    <img src="{{event.Image}}" alt="">
                  </div>
                  <a href="{{event.URL}}" target="_blank">
                    <div class="image">
                      <img src="{{event.Hexagon}}" alt="{{event.Name}} logo" class="image"/>
                    </div>
                    <div class="info">
                      <h2>{{event.Name}}</h2>
                      <p>
                        <i class="octicon octicon-calendar"></i> &nbsp;&nbsp;{{event.Date}} <br>
                        <i class="octicon octicon-organization"></i> &nbsp;&nbsp;&nbsp;{{event.Location}}<br>
                        <i class="octicon octicon-location"></i> &nbsp;&nbsp;&nbsp;&nbsp;{{event.City}} <br>
                      </p>
                    </div>
                  </a>
                </div>
          </div>

        <a href="#events" class="button button-events"><i class="octicon octicon-rocket"></i> Spring 2015 Events</a>
        <a href="http://hshackers.org/" class="button button-hshackers" target="_blank"><i class="icon icon-tools"></i> HS Hackers Meetups</a>
      </div>
      <div class="col-6 photos">
        <a href="https://plus.google.com/photos/109325384268712724436/albums/6069817975539814033?authkey=CIq336zL-uKIPg" class="secret-link" target="_blank"><h2><i class="octicon octicon-device-camera"></i> HackRU Fall Photos</h2></a>
        <br>
        <div class="album" style="margin-bottom: -2em;">
          <a href="https://plus.google.com/photos/109325384268712724436/albums/6069817975539814033/6069817980873191938?authkey=CIq336zL-uKIPg&pid=6069817980873191938&oid=109325384268712724436" class="photo-1" target="_blank">
            <img src="https://lh3.googleusercontent.com/Nk-R6kZKKrplVX-okZsm8Ne8P9cjK4_eNxy_PFc9uPtk=w253-h189-p-no" alt=""/>
            <span>Leap motion meets Windows 8!</span>
          </a>
          <a href="https://plus.google.com/photos/109325384268712724436/albums/6069817975539814033/6069817977744646082?authkey=CIq336zL-uKIPg&pid=6069817977744646082&oid=109325384268712724436" class="photo-2" target="_blank">
            <img src="https://lh6.googleusercontent.com/jQAn2wqpd3lhC24OIc7QHcifAKPLTrhOg7UnJdLNM0C6=w253-h189-p-no" alt=""/>
            <span>We made an app!</span>
          </a>
          <a href="https://plus.google.com/photos/109325384268712724436/albums/6069817975539814033/6069817982031200178?authkey=CIq336zL-uKIPg&pid=6069817982031200178&oid=109325384268712724436" class="photo-1" target="_blank">
            <img src="https://lh3.googleusercontent.com/UmoZKwxrSeWM5wG2pys5jLCoqktgYCHyUms4B8nFdObE=w253-h189-p-no" alt=""/>
            <span>Presenting the human virus simulator.</span>
          </a>
        </div>
        <div class="album">
          <a href="https://plus.google.com/photos/+VictorLourng/albums/6069817975539814033/6069817975138686498?authkey=CIq336zL-uKIPg&pid=6069817975138686498&oid=109325384268712724436" class="photo-2" target="_blank">
            <img src="https://lh3.googleusercontent.com/f7g8bseDWVtuPy1wjrJbW4fa_t_gkZWWwfMQ6HVYaxwJ=w291-h217-p-no" alt=""/>
            <span>We're awesome!</span>
          </a>
          <a href="https://plus.google.com/photos/+VictorLourng/albums/6069817975539814033/6069817977013326210?authkey=CIq336zL-uKIPg&pid=6069817977013326210&oid=109325384268712724436" class="photo-1" target="_blank">
            <img src="https://lh4.googleusercontent.com/krB2twsvBLxJCauc5I9k7K8GLBNYfToISa8Ps1lACPrp=w292-h217-p-no" alt=""/>
            <span>We made an Android app.</span>
          </a>
          <a href="https://plus.google.com/photos/+VictorLourng/albums/6069817975539814033/6069817980844317138?authkey=CIq336zL-uKIPg&pid=6069817980844317138&oid=109325384268712724436" class="photo-2" target="_blank">
            <img src="https://lh6.googleusercontent.com/9n0iZkNoG0FZLWAckG62_EwhdswJmghTq-BDXYz2XKO9=w291-h217-p-no" alt=""/>
            <span>We created a website in 24 hours.</span>
          </a>
        </div>
        <br>
        <div class="text-center album-info">
            <a href="https://plus.google.com/photos/109325384268712724436/albums/6069817975539814033?authkey=CIq336zL-uKIPg" target="_blank" class="button button-gplus"><i class="icon icon-googleplus"></i> Full HackRU Album on Google+</a>
        </div>
          <a href="https://www.facebook.com/media/set/?set=a.842655425785137.1073741896.591858720864810&type=3" target="_blank" class="button button-facebook"><i class="icon icon-facebook"></i> LHD: Young Hackers</a>
          <a href="https://plus.google.com/photos/109325384268712724436/albums/6082086169747551793?authkey=CI_nq9qktPSdRw" target="_blank" class="button button-gplus"><i class="icon icon-googleplus"></i> CodeDay Philly</a>
          <a href="https://www.facebook.com/media/set/?set=a.797500910300589.1073741840.591858720864810&type=3" target="_blank" class="button button-facebook"><i class="icon icon-facebook"></i> PennApps</a>
      </div>
    </div>
  </div>
</section>
<section class="section-dark section-for" id="home-for">
  <div class="container">
    <div class="row">
      <div class="col-4">
        <h2>High School Students</h2>
        <p>Get involved in the spring 2015 season!</p>
        <a href="#events" class="button button-events"><i class="octicon octicon-rocket"></i> Spring 2015 Events</a>
        <a href="#/faq/student" class="btn btn-danger btn-md"><i class="octicon octicon-question"></i> FAQ</a>
      </div>
      <div class="col-4">
        <h2>Parents &amp; Teachers</h2>
        <p>Learn more about hackathons.</p>
        <a href="#faq/parent" class="btn btn-danger btn-md"><i class="octicon octicon-list-ordered"></i> For Parents</a>
        <a href="#faq/teacher" class="btn btn-danger btn-md"><i class="octicon octicon-list-ordered"></i> For Teachers</a>
      </div>
      <div class="col-4">
        <h2>Event Organizers</h2>
        <p>Have what it takes to run a hackathon?</p>
        <a href="#organize" class="btn btn-danger btn-md"><i class="octicon octicon-package"></i> Become an Organizer</a>
      </div>
    </div>
  </div>
</section>
