<header class="altripple navbar-material-deeppurple">
  <div class="container">
    <h1>{{ message }}</h1>
  </div>
</header>

<article class="news" ng-repeat="article in news">

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2">
        <h1 ng-click="showDetails = ! showDetails" ng-hide="single" style="cursor:pointer; text-transform:uppercase;">{{article.title}}</h1><br>
        <a ng-show="single" href="#news">&#8592; Back to all posts</a>
        <h1 ng-show="single" style="text-transform:uppercase;">{{article.title}}</h1><br>
        <div ng-bind-html="article.content" ng-show="showDetails"></div><br>
        <a ng-click="showDetails = ! showDetails" ng-hide="single || !showDetails" style="cursor:pointer;">COLLAPSE</a>
      </div>
    </div>
  </div>

</article>


<!--<div class="news-old">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="article" ng-repeat="article in news">
          <a ng-click="showDetails = ! showDetails"><h3>{{article.title}}</h3></a>
        </div>
      </div>
    </div>
  </div>
</div>-->