<header>
  <div class="container">
    <!-- <h1>{{ message }}</h1> -->
    <h1>Organizer Toolkit</h1>
    <p class="lead">
      <i class="octicon octicon-package"></i>
    </p>
  </div>
</header>
<section class="organize">
  <div class="container">
    <div class="row">
      <h1>What We Offer</h1>
      <br>
      <br>
      <br>
      <div class="col-4">
        <div class="row">
          <div class="col-3">
            <i class="octicon octicon-megaphone"></i>
          </div>
          <div class="col-9">
            <h3>Promotion</h3>
            <p>Your event will be posted on our website where thousands of high school hackers come and find events.</p>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="row">
          <div class="col-3">
            <i class="icon-trophy"></i>
          </div>
          <div class="col-9">
            <h3>Prizes</h3>
            <p>We offer special High School prizes at major college hackathons. These include hardware, internships, etc.</p>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="row">
          <div class="col-3">
            <i class="icon-bizcard"></i>
          </div>
          <div class="col-9">
            <h3>Sponsors Hookup</h3>
            <p>Events are offered special MLH contacts to companies friendly towards sponsoring hackathons.</p>
          </div>
        </div>
      </div>

    </div>

    <br><br><br>

    <h1>What We Require</h1><br><br>
    <div class="row">

      <div class="col-4">
        <div class="row">
          <div class="col-3">
            <h5>1</h5>
          </div>
          <div class="col-9">
            <h3>High School Admittance</h3>
            <p>We require that your event is either a high school only hackathon or a MLH sanctioned college hackathon that accepts high scool students.</p>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="row">
          <div class="col-3">
            <h5>2</h5>
          </div>
          <div class="col-9">
            <h3>Sanction Guide</h3>
            <p>All hackathons are required to adhere to our <a href="#">sanctioning guide</a>. These rules help assure that your event will be successful!</p>
          </div>
        </div>
      </div>

      <div class="col-4">
        <div class="row">
          <div class="col-3">
            <h5>3</h5>
          </div>
          <div class="col-9">
            <h3>Branding</h3>
            <p>We require events to follow our <a href="#">branding guildlines</a>. Rules include logo placement on website, etc. </p>
          </div>
        </div>
      </div>

    </div>

    <br><br><br>


    <h2 class="text-center">Interested in becoming a Minor League Hacking Event?</h2>
    <p class="text-center">Fill out the form below and we will get in touch. We also offer Google Hangouts every month for FAQ sessions with staff.</p><br>
    <center><a class="btn btn-primary btn-lg hasripple" href="mailto:jimmy@mlh.io">Become a MiLH Hackathon</a></center>

  </div>
</section>
