<header>
  <div class="container">
    <h1>{{ message }}</h1>
  </div>
</header>

<div class="organize">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1>WHAT WE OFFER</h1><br><br>
        <div class="row">

          <div class="col-lg-4">
            <div class="row">
              <div class="col-lg-3">
                <img src="http://mlh.io/assets/feature-icons/promote-26c69f9c5895471466c1f5c171dcc777.png" width="100%">
              </div>
              <div class="col-lg-9">
                <h2>Promotion</h2>
                <p>Your event will be posted on our website where thousands of high school hackers come and find events.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="row">
              <div class="col-lg-3">
                <img src="http://mlh.io/assets/feature-icons/promote-26c69f9c5895471466c1f5c171dcc777.png" width="100%">
              </div>
              <div class="col-lg-9">
                <h2>Prizes</h2>
                <p>We offer special High School prizes at major college hackathons. These include hardware, internships, etc.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="row">
              <div class="col-lg-3">
                <img src="http://mlh.io/assets/feature-icons/promote-26c69f9c5895471466c1f5c171dcc777.png" width="100%">
              </div>
              <div class="col-lg-9">
                <h2>Sponsors Hookup</h2>
                <p>Events are offered special MLH contacts to companies friendly towards sponsoring hackathons.</p>
              </div>
            </div>
          </div>

        </div><br>
        <div class="row">

          <div class="col-lg-4">
            <div class="row">
              <div class="col-lg-3">
                <img src="http://mlh.io/assets/feature-icons/promote-26c69f9c5895471466c1f5c171dcc777.png" width="100%">
              </div>
              <div class="col-lg-9">
                <h2>Event Support</h2>
                <p>MiLH staff will be on the ground at your event and we'll help you plan logistics before the event.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="row">
              <div class="col-lg-3">
                <img src="http://mlh.io/assets/feature-icons/promote-26c69f9c5895471466c1f5c171dcc777.png" width="100%">
              </div>
              <div class="col-lg-9">
                <h2>Media Coverage & Press</h2>
                <p>We have photographers and video cameras ready to shoot. We'll also get you featured on press.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="row">
              <div class="col-lg-3">
                <img src="http://mlh.io/assets/feature-icons/promote-26c69f9c5895471466c1f5c171dcc777.png" width="100%">
              </div>
              <div class="col-lg-9">
                <h2>Discounts</h2>
                <p>Need Tshirts or Stickers printed? Our bulk orders will save money for you to spend elsewhere.</p>
              </div>
            </div>
          </div>

        </div><br><br><br>
        <h1>WHAT WE REQUIRE</h1><br><br>
        <div class="row">

          <div class="col-lg-4">
            <div class="row">
              <div class="col-lg-3">
                <h3>1</h3>
              </div>
              <div class="col-lg-9">
                <h2>High School Admittance</h2>
                <p>We require that your event is either a high school only hackathon or a MLH sanctioned college hackathon that accepts high scool students.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="row">
              <div class="col-lg-3">
                <h3>2</h3>
              </div>
              <div class="col-lg-9">
                <h2>Sanction Guide</h2>
                <p>All hackathons are required to adhere to our <a href="#">sanctioning guide</a>. These rules help assure that your event will be successful!</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4">
            <div class="row">
              <div class="col-lg-3">
                <h3>3</h3>
              </div>
              <div class="col-lg-9">
                <h2>Branding</h2>
                <p>We require events to follow our <a href="#">branding guildlines</a>. Rules include logo placement on website, etc. </p>
              </div>
            </div>
          </div>

        </div><br><br><br>
        <h2 class="text-center">Interested in becoming a Minor League Hacking Event?</h2>
        <p class="text-center">Fill out the form below and we will get in touch. We also offer Google Hangouts every month for FAQ sessions with staff.</p><br>
        <center><button class="add">Become a MiLH Hackathon</button></center>
      </div>
    </div>
  </div>
</div>