<header id="parnters-header">
  <div class="container">
    <h1>Partners</h1>
    <p class="lead">MiLH is made possible by our generous partners:</p>
  </div>
</header>
<section id="partners-content">
	<div class="container">
		<h1>Events</h1>
		<div class="content">
			Logo goes here!
		</div>

		<h1>Perks</h1>
		<div class="content">
			Logo goes here!
		</div>

		<h1>Press</h1>
		<div class="content">
			Logo goes here!
		</div>
	</div>
</section>
<section id="become" class="section-dark">
  <div class="container">
    <h2 class="text-center">Interested in becoming a Minor League Hacking Partner?</h2>
    <p class="text-center">Fill out the form below and we will get in touch.</p><br>
    <form clas="form" class="text-center">
      <input type="text" placeholder="Click the button below" disabled="" style="opacity:0.5">
      <input type="text" placeholder="Click the button below" disabled="" style="opacity:0.5">
    </form>
    <center><a class="btn btn-primary btn-lg" href="mailto:jimmy@mlh.io"><i class="octicon octicon-mail"></i> Become a MiLH Partner</a></center>
  </div>
</section>