<header id="parnters-header">
  <div class="container">
    <h1>Become a Proud MiLH Partner</h1>
    <p class="lead">MiLH is made possible by our generous partners:</p>
  </div>
</header>
<section id="partners-content">
	<div class="container">

		<div class="row">
			<div class="col-4">
				<h2>Presenting Partners</h2>
				<div class="content">
					<img src="/img/partners/dell-intel.png" alt="Dell-Intel">

				</div>
			</div>
			<div class="col-4">
				<h2>Domains</h2>
				<div class="content">
					<a href="http://nc.me" target="_blank">
						<img src="/img/partners/namecheap.png" alt="namecheap">

					</a>
				</div>
			</div>
			<div class="col-4">
				<h2>Code Hosting</h2>
				<div class="content">
					<a href="http://github.com" target="_blank">
						<img src="/img/partners/github.png" alt="GitHub">
					</a>
				</div>
			</div>
		</div>

		<h2>Events</h2>
		<div class="content">
			<a href="http://gopilot.org/" target="_blank"><img src="/img/partners/pilot.png" alt="Pilot"></a>
			<a href="http://studentrnd.org/" target="_blank"><img src="/img/partners/studentrnd-old.png" alt="StudentRND"></a>
			<a href="http://theyounghackers.strikingly.com/" target="_blank"><img src="/img/partners/younghackers.jpg" alt="theyounghackers"></a>
			<a href="http://hacker.fund" target="_blank"><h1 style="font-family:Lato,Arial,sans-serif;display:inline-block;margin:0 10px;">Hacker Fund</h1></a>
		</div>

		<h2>Swag &amp; Perks</h2>
		<div class="content">
			Your logo here!
		</div>

		<h2>Hardware</h2>
		<div class="content">
			Your logo here!
		</div>

		<h2>Press</h2>
		<div class="content">
			Your logo here!
		</div>

		<h2>Programming Clubs</h2>
		<div class="content">
			Your logo here!
		</div>
	</div>
</section>
<section id="become" class="section-dark">
  <div class="container">
    <h2 class="text-center">Interested in becoming a Ignition Partner?</h2>
    <p class="text-center">Fill out the form below and we will get in touch.</p><br>
    <form clas="form" class="text-center">
      <input type="text" placeholder="Click the button below" disabled="" style="opacity:0.5">
      <input type="text" placeholder="Click the button below" disabled="" style="opacity:0.5">
    </form>
    <center><a class="btn btn-primary btn-lg" href="mailto:jimmy@mlh.io"><i class="octicon octicon-mail"></i> Become a MiLH Partner</a></center>
  </div>
</section>